.csstest {
    background: #AAFFAA;
    color: black;
}
.csstest:after {
    content: "style.css successfully loaded from vendor";
    display: block;
}
.success {
    background: #AAFFAA;
    color: black;
}
